<form id="signup">

<h1>Signup</h1>

  <label for="email">What's your email?</label>
  <input name="email" id="email" type="text"/>
  <br/>

  <h1 id="emailFormat">Email Format</h1>
  <h1 id="emailUnique">Unique</h1>
  <h1 id="emailMin">Min</h1>

  <label for="password">Choose a Password</label>
  <input name="password" id="password"type="password"/>
  <br/>

  <label for="password">Confirm Password</label>
  <input name="confirmation" type="password"/>
  <br/>

  <input type="submit" />
</form>